<h1 style='text-align:center'>Mentions légales</h1>
<pre>
Définitions

SMS: « Short Message Service » : Court message textuel pouvant être émis et reçu depuis un téléphone portable.

Service(s) : désigne le ou les services vocaux de renseignements et de pré-réservations proposés par Le 118 001.

Utilisateur : désigne toute personne physique ou morale utilisant le(s) Service(s).

Objet du site / responsabilités / garanties :

Le 118 001 est un site internet de services de renseignements téléphoniques sur internet et mobiles.

L’annuaire national permet de rechercher une réponse à une demande de renseignements téléphoniques de particuliers comme de professionnels par nom et/ou par activité dans une localité ou à proximité, à partir d’une adresse et par service dans le cas de numéros spéciaux.

Plusieurs demandes de renseignements peuvent être effectuées par appel dans la limite d’une communication de 30 minutes hors communication avec la personne recherchée suite à une mise en relation. A l’issue de ce temps, il sera mis un terme à la communication téléphonique.

Lors d’une recherche par activité et lorsque la liste contient plusieurs réponses possibles, la première d’entre elles sera citée, l’Utilisateur pouvant demander la communication d’une autre ou de plusieurs en fonction du Service.

En fonction des informations disponibles dans sa base, LE 118 001, fournira à l’Utilisateur les coordonnées du particulier ou du professionnel (nom, adresse, numéro(s) de téléphone) et, en fonction du Service utilisé, des informations complémentaires (e-mail, horaires d’ouverture...) et des services tels que la mise en relation de l’Utilisateur avec la personne recherchée et l’envoi par SMS sur le mobile de l’Utilisateur des coordonnées de la personne recherchée (prix du SMS inclus dans le coût de l’appel). Une information à caractère publicitaire pourra être éventuellement ajoutée en fin de SMS.

Lorsque les conditions nécessaires à l'inscription sont remplies, chaque membre dispose d'un identifiant (login) et d'un mot de passe qui sont strictement personnels et confidentiels et qui ne devront pas être communiqués ni partagés avec des tiers. Vous serez seul responsable d’une quelconque utilisation de vos éléments d'identification par des tiers et vous nous garantissez contre toute demande qui pourrait être formulée en raison d’une telle utilisation.

Il est possible à tout moment de se désinscrire du site. Le lien de désinscription du site est disponible dans la rubrique « Mon compte » accessible depuis votre profil. Attention, en vous désinscrivant du site toutes les données de votre compte ainsi que l’historique de tous vos éventuels messages disparaîtront. Pour vous réinscrire, il faudra vous créer un nouveau compte avec de nouveaux identifiants de connexion.

Nous vérifions que le contenu du site est conforme aux dispositions légales en vigueur. Nous excluons tout contenu à caractère raciste, sexiste, violent, religieux, extrémiste, diffamatoire et toute image visant à dégrader et humilier un groupe, une minorité ethnique et/ou une catégorie sexuelle ou autrement attentatoire à la dignité humaine.

Nous ne pouvons nous engager à vérifier l'identité des utilisateurs de notre site ou la véracité des contenus qu'ils éditent sous leur responsabilité exclusive, ni à modérer lesdits contenus. Nous ne garantissons pas l’exactitude et l’exhaustivité des informations contenues sur ce site.

Vous êtes seul responsable du choix d’un prestataire. Il vous appartient de vérifier les informations communiquées par le prestataire sur notre site et de vous assurer de la compétence de ce dernier en sollicitant auprès de ce dernier toutes informations utiles (références, agrément qualité, attestation d’assurance, …)

Nous ne pourrons être tenus responsables pour :

des dommages résultant directement ou indirectement de la consultation de ce site ou de l’utilisation des informations disponibles sur celui-ci ; nous excluons notamment toute responsabilité découlant de prestations ayant eu lieu à la suite de l’utilisation de notre site.

des dommages directs ou indirects résultant de l’usage de ce site, et notamment de toute perte d’exploitation financière ou commerciale ou perte de programme ou de données dans tout système d’informations et ce même si nous avons été informés de l’éventualité de tels dommages.

Nous ne donnons aucune garantie, expresse ou implicite, en ce qui concerne le caractère accessible de notre site ou le fonctionnement du site sans erreur et sans interruption inopportune.

Vous renoncez à tout recours à notre encontre fondé sur une atteinte éventuelle à votre droit à l'image, à votre vie privée, à votre réputation, résultant de la divulgation d'informations, textes ou images vous concernant dès lors que vous avez pris l’initiative de les divulguer sur notre site et que nous avons respecté nos obligations, notamment celles visées ci-dessous concernant les « Données personnelles ».

Le site peut inclure des liens vers d'autres sites Web ou d'autres sources Internet. Dans la mesure où nous ne pouvons contrôler ces sites et ces sources externes, nous ne pouvons être tenus pour responsables de la mise à disposition de ces sites et sources externes, et ne pouvons assumer aucune responsabilité quant au contenu, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes. De plus, nous ne pourrons être tenus responsables de tous dommages ou pertes avérés ou allégués consécutifs ou en relation avec l'utilisation ou avec le fait d'avoir fait confiance au contenu, à des biens ou des services disponibles sur ces sites ou sources externes.

Vous pouvez demander à ne plus recevoir de courriers électroniques à tout moment en cliquant sur le lien prévu à cet effet et inséré en pied de page de chacun des courriers électroniques qui vous seront adressés.

Droits de propriété intellectuelle :

Sauf mention contraire, les droits de propriété intellectuelle sur les documents contenus dans notre site et chacun des éléments créés pour ce site nous appartiennent ou nous ont été concédés en licence. Nous ne vous concédons aucune licence, ni aucun autre droit que celui de consulter le site.

Vous pouvez télécharger, afficher ou imprimer les informations disponibles sur ce site pour un usage exclusivement privé, à des fins non commerciales, sans modifier toute mention relative aux droits de propriété intellectuelle.

Tout autre usage est expressément interdit. Il est notamment interdit de copier, modifier, créer une œuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière tenter de trouver le code source (à l'exception des cas prévus par la loi), vendre, attribuer, sous licencier ou transférer de quelque manière que se soit tout droit afférent aux logiciels. De même, il est également interdit de modifier le logiciel ou d'utiliser des versions modifiées des logiciels et notamment (sans que cette énumération soit limitative) en vue d'obtenir un accès non autorisé au service et d'accéder au site par un autre moyen que par l'interface qui vous est fournie par nos soins à cet effet.

Vous vous engagez de la même manière à respecter les droits de propriété intellectuelle relatifs aux contenus fournis par des tiers.

Vous nous concédez une licence sur les droits de propriété intellectuelle attachés aux contenus que vous nous fournissez aux fins de diffusion sur le site. Cette licence comprend notamment le droit de reproduire, représenter ou adapter les contenus vous concernant (écrits, informations, images etc.), ceci sur le site et sur tous autres supports de communication électronique. Ces droits sont concédés pour le monde entier et pour la durée pendant laquelle vous utiliserez le site.

Données personnelles :

Notre site internet « Le 118 001 » est déclaré à la CNIL, sous le n° 1880818v0 et s'engage à respecter la vie privée et à protéger les données personnelles de ses utilisateurs.

Lors de votre inscription, vous garantissez que les données que vous nous communiquez sont exactes et conformes à la réalité. Vous vous engagez à nous informer en cas de modification de vos données et, le cas échéant, à procéder vous-même aux modifications correspondantes au sein de votre espace personnel sur notre site.

Aucune donnée personnelle n’est collectée à votre insu. Si vous nous communiquez des données personnelles nous ne les traiterons qu’à des fins d’information ou de communication externe se rapportant à notre activité, à l'exclusion de toute sollicitation commerciale. Vos données ne pourront être vendues ou communiquées à des tiers sans votre autorisation préalable.

Certaines informations ou images que vous pouvez fournir sont susceptibles de révéler votre origine ethnique, votre nationalité, votre religion et/ou vos orientations sexuelles. En fournissant de telles informations, toutes facultatives, vous consentez explicitement à ce que nous traitions ces données "sensibles" et vous en prenez la responsabilité exclusive.

Les données présentes dans la base des services de renseignements du 118 001 proviennent en partie des différents opérateurs affectant des numéros de téléphone à leurs abonnés ou utilisateurs. Le droit d’accès concernant ces données s’exerce auprès des opérateurs.

Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, modification, rectification ou suppression des informations la concernant, en écrivant au service « Protection des données personnelles » à l’adresse suivante :

AMADEUS MOBILE

Service Client 118 001

20 Impasse Camille Langlade

31100 Toulouse

Internet étant un réseau ouvert, nous ne pouvons garantir que ces données ne seront pas détournées par des tiers malgré les mesures de protection que nous mettons en place.

« Cookies » :

Les « cookies » sont des identifiants alphanumériques que nous transférons sur votre disque dur via votre navigateur Internet. Ils permettent à notre système de reconnaître votre navigateur et de vous proposer des fonctionnalités personnalisées.

La section Aide de la barre d'outils de la plupart des navigateurs vous indique comment refuser les nouveaux « cookies » ou obtenir un message qui vous signale leur réception ou encore comment désactiver tous les « cookies ». En tout état de cause, vous conservez le droit de vous opposer à tout moment à l’utilisation d'un cookie installé. Cependant, parce que les « cookies » vous permettent de bénéficier de certaines fonctions utiles de notre site, nous vous conseillons de les laisser actifs.

Ces cookies ne sont pas destinés à collecter des informations personnelles sur le profil ou le comportement de l’utilisateur. Nous utilisons les cookies dans le but d’analyser la fréquentation de notre site internet et d’en améliorer le fonctionnement et/ou pour faciliter la communication par voie électronique et/ou si cela est strictement nécessaire à la fourniture d'un service de communication en ligne à votre demande expresse. Si nous devions utiliser un cookie ayant une autre finalité, votre consentement vous serait demandé préalablement.

Editeur :

AMADEUS MOBILE, SARL au capital de 500,00 €, inscrite au RCS de Toulouse sous le numéro 518 421 466, ayant son siège social 20 Impasse Camille Langlade 31100 Toulouse.

Courriel : contact@118001.fr
Téléphone : 05 61 51 69 22

N° de TVA intracommunautaire : FR 69 518421466

Directeur de la publication : Alain ABADIE

Hébergeur : le Site est hébergé par la société OVH :

SAS au capital de 10 000 000 €

Siège social : 2 rue Kellermann 59100 Roubaix - France

RCS Roubaix – Tourcoing 424 761 419 00045

Vous trouverez ci-après les conditions d’utilisation du site Internet « Le 118 001 » (désigné par « le site »), que vous acceptez du seul fait de la consultation de ce site. Si vous êtes mineur, vous vous engagez à ne consulter ce site qu’en présence de vos parents ou tuteur qui auront préalablement accepté les présentes conditions.

Les présentes conditions, comme l’ensemble du contenu du site, peuvent être modifiées à tout moment et sans préavis.

Nous nous réservons le droit de refuser l’admission ou d’exclure et supprimer le profil de toute personne qui ne respecterait pas les présentes conditions.

Toute prestation de services payants effectuée par l’intermédiaire de notre site est soumise également à nos conditions générales de prestation de services que vous pouvez consulter en cliquant sur ce lien.

</pre>